footer.row
	div.large-12.columns
		hr
		div.row
			div.large-6.columns
				- var date = new Date();
				- var year = date.getFullYear();
				p &copy; #{year} Ben Short
			div.large-6.columns
				ul.inline-list.right
					li: a(href="http://heybenshort.co.uk") Me!
					li: a(href="http://nodejs.org/") Node js
					li: a(href="http://jade-lang.com/") Jade Templating
					li: a(href="http://foundation.zurb.com/") Foundation Framework
