div.contain-to-grid
	nav(class="top-bar" data-topbar role="navigation")
		ul(class="title-area")
			li(class="name")
				if session.isLoggedIn
					h1: a(href="/user") Home
				else
					h1: a(href="/") Home
			li(class="toggle-topbar menu-icon"): a(href="#"): span Menu

		section(class="top-bar-section")
			ul(class="right")
				li.divider
				if !session.isLoggedIn
					li.divider
					li: a(href="/register") Register
				li.divider
					if session.isLoggedIn
						li.active: a(href="/play") Play Pixl Gate
				li.divider
				li(class="has-dropdown")
					a(href="/user") User Area
					ul(class="dropdown")
						li: a(href="/user") User Home
						li: a(href="/user/resetpassword") Password Reset
						li: a(href="/user/gameinfo") Game Info
				li.divider
				li(class="has-form")
					if session.isLoggedIn
						a(href="/logout" class="button radius") Logout
					else
						a(href="/login" class="button radius") Login
				li.divider
