extends layout

block content

	div.row
		div.small-12.columns
			h1 Pixl Gate
			hr

		div.large-6.small-12.columns
			h2 What is Pixl Gate?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut tincidunt augue. Aliquam imperdiet porttitor arcu nec cursus. Nunc ac sagittis justo, et dictum tortor. Quisque eleifend accumsan mollis. Aliquam eu dolor eget arcu vestibulum auctor lacinia id turpis. Mauris volutpat elit ac odio tincidunt laoreet. Maecenas eu velit sit amet odio tempor ullamcorper. Nam placerat ipsum sit amet quam dapibus tincidunt. Praesent bibendum tortor ante, vitae volutpat metus varius in. Vestibulum sodales, quam in rhoncus volutpat, nibh tortor ultricies urna, sed malesuada arcu sapien vel felis. Donec gravida a leo eget suscipit. In dapibus ornare elementum. Nulla turpis ante, sodales nec suscipit sed, fermentum ut leo. Fusce neque sapien, rhoncus sit amet ex ac, venenatis dictum nisl.

		div.large-6.small-12.columns
			h2 Getting Started
			p To get started with Pixl Gate you have to register first! Click on the button below to get started on your adventure.
			div.text-center
				a(class='button radius' href='/register') Register