extends layout

block content

	div.row
		div.small-12.columns
			h1 Register
			hr
	div.row
		div.small-12.columns
			if showForm
				form(method='POST' data-abide)
					div.row
						div.large-6.medium-6.small-12.columns.text-center
							p Please fill out the form to begin your adventure in Pixl Gate!
							p We won't send any of your information to a third party and promise to keep it a secret.

							img(src="http://placehold.it/300x200&text=Logo" )

						div.large-6.medium-6.small-12.columns

							div.input-wrapper
								label(for="fname") First Name #[small.red *Required]
									input(type="text" name='fname' id='fname' placeholder="e.g. Rick" required pattern="[a-zA-Z]+")
									small.error Your first name is required and must contain letters only

							div.input-wrapper
								label(for="sname") Last Name #[small.red *Required]
									input(type="text" name='sname' id="sname" placeholder="e.g. Astley" required pattern="[a-zA-Z]+")
									small.error Your last name is required and must contain letters only

							div.input-wrapper
								label(for='email') Email Address #[small.red *Required]
									input(type="email" name='email' id='email' placeholder='e.g. rick123@gmail.com' required)
									small.error Your email must be a valid address

							div.input-wrapper
								label(for='password') Password #[small.red *Required]
									input(type="password" name="password" id="password" placeholder="Password" required pattern="[a-zA-Z0-9]{6,}")
									small.error Your password must be greater than 6 characters long

							div.input-wrapper
								label(for='password2') Password #[small.red *Required]
									input(type="password" name="password2" id="password2" placeholder="Repeat Password" required pattern="[a-zA-Z0-9]{6,}" data-equalto="password")
									small.error Your passwords do not match!

							- var date = new Date().toISOString().slice(0, 19).replace('T', ' ');
							input(type='hidden' name='created' value='#{date}')

							input(type="submit" class='button expand radius' value='Go!')
			else
				h3 Thank You #{name}

				p You have been succesfully registered.
				p Now you can #[a(class='button radius tiny' href='/login') Log In]